<li class="mb-3">
    <div class="pull-left m-r-10">{{ info.item_image|raw }}</div>
    <div class="overflow-hide">
        <a href="{{ info.item_url|raw }}"><strong>{{ info.item_title|raw }}</strong></a>
        <br>
        {{ info.item_title }}
        {{ info.item_search_context|raw }}
    </div>
</li>
