{% import 'layout.twig' as layout %}

{% macro left(locale, content) %}
    <h1>{{ locale.400 }}</h1>

    {{ content|raw }}

    <div class="text-center m-t-15">
        <a class="font-normal" href="{{ constant('BASEDIR') }}login.php">{{ locale.bluee_014 }}</a>
    </div>

{% endmacro %}

{% macro right(locale) %}
    <div class="links">
        <a href="{{ constant('BASEDIR') }}index.php">{{ locale.home }}</a>
    </div>
{% endmacro %}

{{ layout.auth(_self.left(locale, content), _self.right(), ' justify-content-center align-items-center', footer, true, false, copyright) }}
