<div class="forum-box m-b-20">
    <h2>{{ locale.bluee_023}} <i class="pull-right fas fa-chart-pie"></i></h2>

    <ul class="list-style-none">
        <li><i class="fas fa-comment"></i><h3>{{ locale.forum_0002 }}</h3><h4>{{ threads }}</h4></li>
        <li><i class="fas fa-comment-alt"></i><h3>{{ locale.forum_0003 }}</h3><h4>{{ posts }}</h4></li>
    </ul>
</div>
